# Data Types
Python has five standard Data Types:
Numbers,
String,
List,
Tuple,
Dictionary,set

## Numbers
They are immutable data types. This means, changing the value of a number data type results in a newly allocated object.
Number data types store numeric values. Number objects are created when you assign a value to them. For example âˆ’

int(x [,base])

Converts x to an integer. The base specifies the base if x is a string.

float(x)

Converts x to a floating-point number.

complex(real [,imag])

Creates a complex number.

In [37]:
var1= 23
var2= 12

In [38]:
int(var1)

23

In [39]:
float(var1)

23.0

In [40]:
complex(var1)

(23+0j)

In [41]:
var1
del var1

Three different data types:
int, float, str

## Strings
Strings in Python are identified as a contiguous set of characters represented in the quotation marks. Python allows either pair of single or double quotes. Subsets of strings can be taken using the slice operator ([ ] and [:] ) with indexes starting at 0 in the beginning of the string and working their way from -1 to the end.

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator

str(x)

Converts object x to a string representation.

In [2]:
 str= 'My Name is Suma'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

My Name is Suma
M
 Na
 Name is Suma
My Name is SumaMy Name is Suma
My Name is SumaTEST

In [45]:
print("str[2]:",str[3])
print("str[3:8]:",str[3:8])

str[2]: N
str[3:8]: Name

In [48]:
print("Updated :",str[:10]+' '+'python')

Updated : My Name is python

In [50]:
print("My name is %s and weight is %d" %("suma",23))

My name is suma and weight is 23

%c character	
%s string conversion via str() prior to formatting
%i signed decimal integer	
%d signed decimal integer

## Lists
Lists are the most versatile of Python's compound data types. A list contains items separated by commas and enclosed within square brackets ([])
The values stored in a list can be accessed using the slice operator ([ ] and [:]) with indexes starting at 0 in the beginning of the list and working their way to end -1. The plus (+) sign is the list concatenation operator, and the asterisk (*) is the repetition operator

list(s)

Converts s to a list.

In [12]:
list=['Suma',23,34,35,'abc',34.6]
minilist=['Rima',12]
print(list)          # Prints complete list
print(list[2])       # Prints first element of the list
print(list[3:7])     # Prints elements starting from 4th till 7th
print(list[2:])      # Prints elements starting from 3rd element   
print(list*3)        # Prints list three time
print(list+minilist) # Prints concatenated lists

['Suma', 23, 34, 35, 'abc', 34.6]
34
[35, 'abc', 34.6]
[34, 35, 'abc', 34.6]
['Suma', 23, 34, 35, 'abc', 34.6, 'Suma', 23, 34, 35, 'abc', 34.6, 'Suma', 23, 34, 35, 'abc', 34.6]
['Suma', 23, 34, 35, 'abc', 34.6, 'Rima', 12]

In [62]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"];
#The first index is zero, the second index is one, and so forth.

In [63]:
print("list1[0]:",list1[0])
print("list2[2:5]:",list2[2:5])

list1[0]: physics
list2[2:5]: [3, 4, 5]

In [64]:
list3[2]='tree'

In [65]:
print("Updated:",list3[2])

Updated: tree

In [66]:
list1

['physics', 'chemistry', 1997, 2000]

In [67]:
del list1[3]

In [68]:
list1

['physics', 'chemistry', 1997]

In [69]:
list1[-2]

'chemistry'

In [70]:
len(list1)

3

## Tuples
Python tuples are a data structure that store an ordered sequence of values. Tuples are immutable. This means you cannot change the values in a tuple.Lists are enclosed in brackets ( [ ] ) and their elements and size can be changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated.

tuple(s)

Converts s to a tuple.

In [17]:
tuple=('Suma',2,3,23.3,24,'abc')
minituple=('rima',34,45)
print(tuple)     #print complete tuple
print(tuple[0])   #print first element of the tuple
print(tuple[2:4]) #print elements starting from 3rd and 4th
print(tuple[3:])#print elements from 4th to till end
print(tuple*2)    #print tuple two times
print(tuple+minituple) #prints concanated tuples
list[0]="Satya"     # Valid syntax with list
#tuple[0]="riya" # Invalid syntax with tuple

('Suma', 2, 3, 23.3, 24, 'abc')
Suma
(3, 23.3)
(23.3, 24, 'abc')
('Suma', 2, 3, 23.3, 24, 'abc', 'Suma', 2, 3, 23.3, 24, 'abc')
('Suma', 2, 3, 23.3, 24, 'abc', 'rima', 34, 45)

In [72]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )

print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [76]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

# Following action is not valid for tuples
# tup1[0] = 100;

# So let's create a new tuple as follows
tup3 = tup1 + tup2
print (tup3)

(12, 34.56, 'abc', 'xyz')

In [80]:
tup = ('physics', 'chemistry', 1997, 2000);
print (tup)
del tup;
print ("After deleting tup : ")
print (tup)
#This is because after del tup, tuple does not exist any more.

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

In [82]:
for x in (1,2,3):
    print(x,end=" ")

1 2 3

## Dictionary
A dictionary is an unordered and mutable Python container that stores mappings of unique keys to values. Dictionaries are written with curly brackets ({}), including key-value pairs separated by commas (,). 

An empty dictionary without any items is written with just two curly braces, like this: {}

dict(d)

Creates a dictionary. d must be a sequence of (key,value) tuples

Keys are unique within a dictionary while values may not be. The values of a dictionary can be of any type, but the keys must be of an immutable data type such as strings, numbers, or tuples.

In [22]:
dict={}
dict['Animals']="Cat"
dict['numbers']='2'
minidict={"things":'table',"foods":"chapati","languages":"python"}
print (dict['Animals'])       # Prints value for 'one' key
print (dict['numbers'])           # Prints value for 2 key
print (minidict)          # Prints complete dictionary
print (minidict.keys())   # Prints all the keys
print (minidict.values()) # Prints all the values

Cat
2
{'things': 'table', 'foods': 'chapati', 'languages': 'python'}
dict_keys(['things', 'foods', 'languages'])
dict_values(['table', 'chapati', 'python'])

In [83]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [85]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'};
print ("dict['Alice']: ", dict['Alice'])
#If we attempt to access a data item with a key, which is not a part of the dictionary, we get an error as follows

KeyError: 'Alice'

In [99]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School" # Add new entry

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

In [100]:
del dict['Age']

In [101]:
dict

{'Name': 'Zara', 'Class': 'First', 'School': 'DPS School'}

In [102]:
dict.clear()

In [103]:
dict

{}

Keys must be immutable. This means you can use strings, numbers or tuples as dictionary keys but something like ['key'] is not allowed.

## SET
The elements in the set cannot be duplicates.

The elements in the set are immutable(cannot be modified) but the set as a whole is mutable.

There is no index attached to any element in a python set. So they do not support any indexing or slicing operation.
A set is created by using the set() function or placing all the elements within a pair of curly braces.

In [104]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months={"Jan","Feb","Mar"}
Dates={21,22,17}
print(Days)
print(Months)
print(Dates)

{'Sat', 'Thu', 'Wed', 'Tue', 'Fri', 'Sun', 'Mon'}
{'Feb', 'Mar', 'Jan'}
{17, 21, 22}

In [106]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
 
for i in Days:
   print(i)

Sat
Thu
Wed
Tue
Fri
Sun
Mon

In [109]:
#add
days=set(['suma','riya','rima','raju'])
days.add("rana")
days

{'raju', 'rana', 'rima', 'riya', 'suma'}

In [111]:
#remove
days.discard("rana")
days

{'raju', 'rima', 'riya', 'suma'}

In [112]:
#union
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA|DaysB
print(AllDays)

{'Sat', 'Thu', 'Wed', 'Tue', 'Fri', 'Sun', 'Mon'}

In [113]:
#intersection
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA & DaysB
print(AllDays)

{'Wed'}

In [115]:
#Difference
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA - DaysB
print(AllDays)

{'Tue', 'Mon'}

# Booleans 
Booleans is a basic data structure which holds either False or True values

The bool() function is used to convert a value into a boolean value ( True or False). We can convert integer, strings, list, map into boolean values.

In [120]:
print(bool(23))
print(bool('suma'))
print(bool(1))
print(bool())
print(bool(0))

True
True
True
False
False