# 6) Swapping the numbers with or without using thirt variable

In [3]:
# method 1: With using third variable
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
temp=a
a=b
b=temp
print("After the swapping: ")
print("Value of a: ",a)
print("Value of b: ",b)

Enter the value of a: 10
Enter the value of b: 5
After the swapping:
Value of a:  5
Value of b:  10

In [2]:
# method 2: Without using third variable
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
a=a+b
b=a-b
a=a-b
print("After the swapping: ")
print("Value of a: ",a)
print("Value of b: ",b)

Enter the value of a: 10
Enter the value of b: 5
After the swapping:
Value of a:  5
Value of b:  10

# 7) To print right triangle shape(Floyd's Triangle)

1

2 3

4 5 6

7 8 9 10

In [5]:
n=int(input("Enter the number of rows: "))
num=1
for row in range(1,n+1):
    for col in range(1,row+1):
        print(num, end=" ")
        num=num+1
    print()

Enter the number of rows: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

# 8) Selection sort algorithm

In [8]:
list1=[56,3,2,78,6,0]
print(list1)
for i in range(len(list1)):
    min_val=min(list1[i:])
    min_ind=list1.index(min_val)
    list1[i],list1[min_ind]=list1[min_ind],list1[i]
print(list1)

[56, 3, 2, 78, 6, 0]
[0, 2, 3, 6, 56, 78]

# 9) Print alphabetic pattern triangle

In [11]:
n=int(input("Enter the number of rows: "))
k=ord('A')
for i in range(n):
    k=ord('a')+i
    for j in range(i+1):
        print(chr(k),end=" ")
        k=k+1
    print()

Enter the number of rows: 4
a
b c
c d e
d e f g

# 10) Print * triangle pattern

In [12]:
n=int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *