# Operators
Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.
An operator is a symbol that will perform mathematical operations on variables or on values. Operators operate on operands (values) and return a result.

Python has 7 types of operators that you can use:

Arithmetic Operators

Comparison (Relational) Operators

Assignment Operators

Logical Operators

Membership Operators

Identity Operators

Bitwise Operators

# Arithmetic Operator

The addition operator [+] adds two values and gives their sum.

'+' (Addition), 'â€“' (Subtraction), * (Multiplication), '/' (Division), '**' (Exponentiation), '//' (Floor division), '%' (Modulus)

### Addition Operator
The addition operator [+] adds two values and gives their sum.

In [1]:
#Example1 integer
num1=23
num2=34

In [3]:
num3=num1+num2
num3

57

In [6]:
#Example 2 Strings
a='abc'
b='csd'
a+" "+b

'abc csd'

In [10]:
#Example 3 Complex numbers
x=5.6
y=4+7j

In [11]:
z=x+y
z

(9.6+7j)

### Subtraction Operator
The subtraction operator [-] subtracts second value from first and gives their difference.

In [12]:
#Example1 Integer
num1=45
num2=34
num3=num1-num2
num3

11

In [15]:
#Example Strings
a="suma"
b="riya"
c=a-b
c
# Substraction is does'nt support strings

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### Multiplication Operator
The multiplication operator [*] multiplies values and gives their product.

In [19]:
#Example 1
num1=23
num2=34
num3=34
num4=num1* num2*num3
num4

26588

In [20]:
23*32

736

### Division operator
The division operator [/] divides one value by second and gives their quotient.

In [22]:
num1=34
num2=2
num3=num1/num2
num3

17.0

In [23]:
num4=num1/(num2+num3)
num4

1.7894736842105263

### Exponentiation
The exponentiation operator [**] raises one value to power of second.

In [25]:
num1=2
num2=3
num3=num1**num2
num3

8

In [26]:
num4=(num1+num2)**num3
num4

390625

### Floor Division
The floor division operator [//] divides one value by second and gives their quotient rounded to the next smallest whole number

In [32]:
num1=19
num2=9
num3=num1//num2
num3

2

### Modulus
The modulus operator [%] divides one value by second and gives their remainder.

In [33]:
num1=34
num2=23
num3=num1%num2
num3

11

In [34]:
a=3
b=2
c=a%b
c

1

# Comparison (Relational) Operators
Comparison operators are used to compare values. It returns either True or False according to the condition.

> (Greater than),
< (Less than),
== (Equal to),
!= (Not equal to),
>= (Greater than or equal to),
<= (Less than or equal to)

### Greater than
The greater than operator [>] returns True if the first value is greater than the second.

In [36]:
num1=3
num2=2
num3=num1>num2
num3

True

In [37]:
4>2

True

In [38]:
45.56>34.455

True

### Less than
The less than operator [<] returns True if the first value is less than the second.

In [39]:
num1=5
num2=3
num3=num1<num2
num3

False

In [40]:
num3=num1>num2
num3

True

### Equal to
The equal to operator [==] returns True if the first value is equal to the second.

In [41]:
num1=5
num2=3
num3=num1==num2
num3

False

In [42]:
#integer
num1=5
num2=5
num3=num1==num2
num3

True

In [45]:
#string
a='suma'
b='riya'
c=a==b
c

False

In [46]:
a='suma'
b='suma'
c=a==b
c

True

### Not equal to
The not equal to operator [!=] returns True if the first value is not equal to the second.

In [57]:
#integer
num1=5
num2=3
num3=num1!=num2
num3

True

In [58]:
#string
a='suma'
b='riya'
c=a!=b
c

True

In [59]:
a='suma'
b='suma'
c=a!=b
c

False

### Greater than or equal to
The greater than or equal to operator [>=] returns True if the first value is greater than or equal to the second.

In [60]:
#integer
num1=5
num2=3
num3=num1>=num2
num3

True

In [61]:
num1=2
num2=3
num3=num1>=num2
num3

False

### Less than or equal to
The less than or equal to operator [<=] returns True if the first value is smaller than or equal to the second.

In [64]:
#integer
num1=5
num2=3
num3=num1<=num2
num3

False

In [66]:
num1=2
num2=3
num3=num1<=num2
num3

True

# Assignment Operators

Python has 8 assignment operators:

= (Assign),
+= (Add and assign),
-= (Subtract and assign),
*= (Multiply and assign),
/= (Divide and assign),
%= (Modulus and assign),
**= (Exponentiation and assign),
//= (Floor-divide and assign),

### Assign
The assign operator [=] puts the value on the right in the variable on left.

In [68]:
num1=4
print(num1)

4

### Add and assign
The add and assign operator [+=] adds two values and assigns the result to the variable on left.

In [75]:
num1=2
num2=3
num1+=num2
num1

5

### Subtract and assign
The subtract and assign operator [-=] subtracts second value from first and assigns to first.

In [77]:
num1=5
num2=3
num1-=num2
num1

2

### Multiply and assign
The multiply and assign operator [*=] assigns the product to the variable on left.

In [78]:
num1=5
num2=3
num1*=num2
num1

15

### Divide and Assign
The divide and assign operator [/=] assigns the division of two values to the first

In [79]:
num1=5
num2=3
num1/=num2
num1

1.6666666666666667

### Modulus and Assign
The modulus and assign operator [%=] performs modulus on two values and assigns to first.

In [80]:
num1=5
num2=3
num1%=num2
num1

2

### Exponentiation and Assign
The exponentiation and assign operator [**=] performs exponentiation on two values and assigns to first.

In [81]:
num1=5
num2=3
num1**=num2
num1

125

### Floor divide and Assign
The floor divide and assign operator [//=] performs floor division on two values and assigns to first.

In [84]:
num1=5
num2=3
num1//=num2
num1

1

# Logical Operators
They can combine conditions. Python has 3 logical operators:

and (Logical and),
or (Logical or),
not (Logical not),

### Logical and
The logical and operator returns True if both values are True. Otherwise, it returns False.

In [85]:
True and False

False

In [86]:
3 and 5
#it gives the last value.

5

### Logical or
The logical or operator returns True if even one value is True. It returns False if both values are False.

In [87]:
True or False

True

In [91]:
3 or 5
#it gives the first value.

3

### Logical not
The logical not operator returns True if an expression is True, otherwise returns False.

In [93]:
not True

False

In [94]:
not False

True

In [95]:
not 3

False

In [97]:
not 5
#5 is True, so it prints False.

False

# Membership Operators
Membership operators check whether a value is in another. Python has 2 membership operators:

in
not in

### in operator
The in operator returns True if the first value is in second. Otherwise, it returns False.

In [99]:
2 in [3,5,6]

False

In [100]:
3 in (3,4,6)

True

In [101]:
'suma' in 'kusuma'

True

In [102]:
'suma' in 'priya'

False

### not in operator
The not in operator returns True if the first value is not in second. It returns False otherwise.

In [103]:
2 not in [2,3,4]

False

In [105]:
3 not in (4,4,5)

True

# Identity Operators
Identity operators check whether two values are identical. Python has 2 identity operators as well:

is,
is not,

### is operator
The is operator returns True if the first value is the same as the second. Otherwise, it returns False.

In [106]:
2 is 3

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-106-0f0b1d4720d3>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2 is 3

False

In [107]:
'suma' is 'suma'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-107-ac4afbc0c30f>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'suma' is 'suma'

True

In [108]:
a= 45
b= a
a is b
#It returns True if two objects have the same identity.

True

### is not operator
 The is not operator returns True if the first value is not identical to the second. It returns False otherwise.

In [110]:
0 is not 5

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-110-293aa2c6b311>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  0 is not 5

True

In [111]:
'suma' is not 'suma'

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-111-98e53a120aea>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  'suma' is not 'suma'

False

In [112]:
'suma' is not 'priya'

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-112-08d0184f6b71>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  'suma' is not 'priya'

True

# Bitwise Operators
hey operate on values bit by bit.

Python has 6 bitwise operators:

& (Bitwise and),
| (Bitwise or),
^ (Bitwise xor),
~ (Bitwise 1â€™s complement),
<< (Bitwise left-shift),
>> (Bitwise right-shift),

### Bitwise and
The bitwise and operator [&] performs logical AND on corresponding bits in values.

In [114]:
a & b

45

In [120]:
3 &4
#3&4 is 011 & 100. This is 000 (0).

0

In [121]:
4 &8

0

In [122]:
2& 5

0

### Bitwise or
The bitwise or operator [|] performs logical OR on corresponding bits in values.

In [126]:
3|4
#3&4 is 011 | 100. This is 111 which is 7

7

### Bitwise xor
The bitwise xor operator [^] performs logical XOR on corresponding bits in values

In [128]:
3^4
# 3^4 is 011^100. This is 111, which is 7.

7

### Bitwise 1â€™s complement
The bitwise 1â€™s complement operator [~] returns the bitwise negation of a value. Each bit is inverted.

In [134]:
~3
# 3 is 011- negation of this is 100, the result is -4. For x, its bitwise 1â€™s complement is -(x+1).

-4

In [135]:
~2

-3

In [136]:
~5

-6

### Bitwise left-shift
The bitwise left-shift operator [<<] shifts bits for a value by a given number of places left. It adds 0s to new positions.

In [139]:
4<<2
# 4<<2 is 100<<2. This is 10000. This is 16

16

### Bitwise right-shift
The bitwise right-shift operator [>>] shifts bits for a value by given number of places right. Some bits are lost.

In [141]:
4>>2
# 4>>2 is 100>>2. This is 1, which is 1 in decimal.

1